# Assignment - Basic Pandas
<sup>Created by Natawut Nupairoj, Department of Computer Engineering, Chulalongkorn University</sup>

Using pandas to explore youtube trending data from GB (GBvideos.csv and GB_category_id.json) and answer the questions.

In [2]:
import pandas as pd
import numpy as np

To simplify data retrieval process on Colab, we heck if we are in the Colab environment and download data files from a shared drive and save them in folder "data".

For those using jupyter notebook on the local computer, you can read data directly assuming you save data in the folder "data".

In [3]:
import sys
IN_COLAB = 'google.colab' in sys.modules
if IN_COLAB:
    !wget https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/data.tgz -O data.tgz
    !tar -xzvf data.tgz

--2023-01-14 01:57:03--  https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/data.tgz
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/kaopanboonyuen/2110446_DataScience_2021s2/main/datasets/data.tgz [following]
--2023-01-14 01:57:03--  https://raw.githubusercontent.com/kaopanboonyuen/2110446_DataScience_2021s2/main/datasets/data.tgz
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45477462 (43M) [application/octet-stream]
Saving to: ‘data.tgz’

data.tgz            100%[===================>]  43.37M   145MB/s    in 0.3s

2023-01-14 01:57:03 (145 MB/s) - ‘data.tgz’ saved [45477462/45477462]

data/
data/._GB_category_id.json
data/GB_category_id.json
data/._US_category_id.json
data/US_category_id.json
data/._USvideos.csv
data/USvideos.csv
data/._GBvideos.csv
data/GBvideos.csv

## How many rows are there in the GBvideos.csv after removing duplications?

In [4]:
df = pd.read_csv('data/GBvideos.csv')
df.drop_duplicates(inplace = True)
df

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,Jw1Y-zhQURU,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg,False,False,False,Click here to continue the story and make your...
1,3s1rvMFUweQ,17.14.11,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757,https://i.ytimg.com/vi/3s1rvMFUweQ/default.jpg,False,False,False,Musical guest Taylor Swift performs …Ready for...
2,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787420,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...
3,PUTEiSjKwJU,17.14.11,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,17,2017-11-13T02:30:38.000Z,"Salford City FC|""Salford City""|""Salford""|""Clas...",27833,193,12,37,https://i.ytimg.com/vi/PUTEiSjKwJU/default.jpg,False,False,False,Salford drew 4-4 against the Class of 92 and F...
4,rHwDegptbI4,17.14.11,Dashcam captures truck's near miss with child ...,Cute Girl Videos,25,2017-11-13T01:45:13.000Z,[none],9815,30,2,30,https://i.ytimg.com/vi/rHwDegptbI4/default.jpg,False,False,False,Dashcam captures truck's near miss with child ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38911,l884wKofd54,18.14.06,Enrique Iglesias - MOVE TO MIAMI (Official Vid...,EnriqueIglesiasVEVO,10,2018-05-09T07:00:01.000Z,"Enrique Iglesias feat. Pitbull|""MOVE TO MIAMI""...",25066952,268088,12783,9933,https://i.ytimg.com/vi/l884wKofd54/default.jpg,False,False,False,NEW SONG - MOVE TO MIAMI feat. Pitbull (Click ...
38912,IP8k2xkhOdI,18.14.06,Jacob Sartorius - Up With It (Official Music V...,Jacob Sartorius,10,2018-05-11T17:09:16.000Z,"jacob sartorius|""jacob""|""up with it""|""jacob sa...",1492219,61998,13781,24330,https://i.ytimg.com/vi/IP8k2xkhOdI/default.jpg,False,False,False,THE OFFICIAL UP WITH IT MUSIC VIDEO!Get my new...
38913,Il-an3K9pjg,18.14.06,Anne-Marie - 2002 [Official Video],Anne-Marie,10,2018-05-08T11:05:08.000Z,"anne|""marie""|""anne-marie""|""2002""|""two thousand...",29641412,394830,8892,19988,https://i.ytimg.com/vi/Il-an3K9pjg/default.jpg,False,False,False,Get 2002 by Anne-Marie HERE ▶ http://ad.gt/200...
38914,-DRsfNObKIQ,18.14.06,Eleni Foureira - Fuego - Cyprus - LIVE - First...,Eurovision Song Contest,24,2018-05-08T20:32:32.000Z,"Eurovision Song Contest|""2018""|""Lisbon""|""Cypru...",14317515,151870,45875,26766,https://i.ytimg.com/vi/-DRsfNObKIQ/default.jpg,False,False,False,Eleni Foureira represented Cyprus at the first...
38915,4YFo4bdMO8Q,18.14.06,KYLE - Ikuyo feat. 2 Chainz & Sophia Black [A...,SuperDuperKyle,10,2018-05-11T04:06:35.000Z,"Kyle|""SuperDuperKyle""|""Ikuyo""|""2 Chainz""|""Soph...",607552,18271,274,1423,https://i.ytimg.com/vi/4YFo4bdMO8Q/default.jpg,False,False,False,Debut album 'Light of Mine' out now: http://ky...

In [5]:
print(str(df.shape[0])+" Rows")

38745 Rows

## How many VDO that have "dislikes" more than "likes"?  <font color=red>DO NOT group by the data and make sure that you count only unique title!</font>

In [6]:
dfunique = df[(df.dislikes>df.likes)][['title','dislikes','likes']]
dfunique.drop_duplicates(subset='title',inplace=True)
print(str(dfunique.shape[0])+" VDOs")

56 VDOs

## How many VDO that are trending on 22 Jan 2018 with comments more than 10,000 comments?

In [7]:
condition_list = (df['trending_date'] == '18.22.01') & (df['comment_count']> 10000)
print(str(df[condition_list].shape[0])+" VDOs")

28 VDOs

## Which date that has the minimum average number of comments per VDO?

In [8]:
#datetime = pd.to_datetime(df.publish_time)
#CommentAverage = df.groupby(pd.DatetimeIndex(df.publish_time).normalize())['comment_count'].mean()
CommentAverage = df.groupby(df.trending_date)['comment_count'].mean()
MinCommentAverage= CommentAverage.idxmin()
print(MinCommentAverage)

17.15.11

## Compare "Sports" and "Comady", how many days that there are more total daily views of VDO in "Sports" category than in "Comady" category?

In [9]:
import json
with open('data/GB_category_id.json') as GBjson:
  category = json.load(GBjson)
category_list = []
for d in category['items']:
  category_list.append((int(d['id']), d['snippet']['title']))
category_list

[(1, 'Film & Animation'),
 (2, 'Autos & Vehicles'),
 (10, 'Music'),
 (15, 'Pets & Animals'),
 (17, 'Sports'),
 (18, 'Short Movies'),
 (19, 'Travel & Events'),
 (20, 'Gaming'),
 (21, 'Videoblogging'),
 (22, 'People & Blogs'),
 (23, 'Comedy'),
 (24, 'Entertainment'),
 (25, 'News & Politics'),
 (26, 'Howto & Style'),
 (27, 'Education'),
 (28, 'Science & Technology'),
 (30, 'Movies'),
 (31, 'Anime/Animation'),
 (32, 'Action/Adventure'),
 (33, 'Classics'),
 (34, 'Comedy'),
 (35, 'Documentary'),
 (36, 'Drama'),
 (37, 'Family'),
 (38, 'Foreign'),
 (39, 'Horror'),
 (40, 'Sci-Fi/Fantasy'),
 (41, 'Thriller'),
 (42, 'Shorts'),
 (43, 'Shows'),
 (44, 'Trailers')]

In [10]:
category_df = pd.DataFrame(category_list, columns=['id', 'category'])
category_df

    id              category
0    1      Film & Animation
1    2      Autos & Vehicles
2   10                 Music
3   15        Pets & Animals
4   17                Sports
5   18          Short Movies
6   19       Travel & Events
7   20                Gaming
8   21         Videoblogging
9   22        People & Blogs
10  23                Comedy
11  24         Entertainment
12  25       News & Politics
13  26         Howto & Style
14  27             Education
15  28  Science & Technology
16  30                Movies
17  31       Anime/Animation
18  32      Action/Adventure
19  33              Classics
20  34                Comedy
21  35           Documentary
22  36                 Drama
23  37                Family
24  38               Foreign
25  39                Horror
26  40        Sci-Fi/Fantasy
27  41              Thriller
28  42                Shorts
29  43                 Shows
30  44              Trailers

In [11]:
df_with_category = df.merge(category_df, left_on='category_id', right_on='id')
df_with_category[['title', 'category_id', 'category']]

,title,category_id,category
0,John Lewis Christmas Ad 2017 - #MozTheMonster,26,Howto & Style
1,EXTREME GOLDEN TAN TRANSFORMATION,26,Howto & Style
2,How To Dry a Shirt in 30 Seconds,26,Howto & Style
3,SO Much To Tell You | 32 Weeks Pregnant | MOTH...,26,Howto & Style
4,GET READY WITH ME + LILY! (we're so immature bye),26,Howto & Style
...,...,...,...
38650,Game of Zones - S5E7: NBA 1K,43,Shows
38651,Game of Zones - S5E7: NBA 1K,43,Shows
38652,Game of Zones - S5E7: NBA 1K,43,Shows
38653,Game of Zones - S5E7: NBA 1K,43,Shows
38654,Game of Zones - S5E7: NBA 1K,43,Shows

In [12]:
groupdatecate = df_with_category.groupby(['trending_date', 'category'])
groupsum = groupdatecate.views.sum().reset_index()
groupsum

     trending_date              category      views
0         17.01.12      Autos & Vehicles    1790956
1         17.01.12                Comedy   10889970
2         17.01.12             Education    1716037
3         17.01.12         Entertainment  111895953
4         17.01.12      Film & Animation   11296897
...            ...                   ...        ...
2515      18.31.05        People & Blogs   18445789
2516      18.31.05        Pets & Animals    5084786
2517      18.31.05  Science & Technology    6598390
2518      18.31.05                 Shows    1304684
2519      18.31.05                Sports    6343358

[2520 rows x 3 columns]

In [13]:
Sport_view=groupsum[groupsum.category == 'Sports'][['trending_date', 'views']]
Sport_view.rename(columns={'views': 'sport_views'}, inplace=True)
Sport_view

     trending_date  sport_views
12        17.01.12      9879808
26        17.02.12     10856461
40        17.03.12     10875249
54        17.04.12     11399173
67        17.05.12     11261410
...            ...          ...
2470      18.30.04     15114095
2482      18.30.05      5153521
2495      18.31.01      8431519
2507      18.31.03     22546308
2519      18.31.05      6343358

[205 rows x 2 columns]

In [14]:
Comedy_view=groupsum[groupsum.category == 'Comedy'][['trending_date', 'views']]
Comedy_view.rename(columns={'views': 'comedy_views'}, inplace=True)
Comedy_view

     trending_date  comedy_views
1         17.01.12      10889970
15        17.02.12      13302391
29        17.03.12      14259944
43        17.04.12      16617431
57        17.05.12      19089597
...            ...           ...
2461      18.30.04      17802688
2471      18.30.05      16427316
2484      18.31.01      14840766
2496      18.31.03      21528161
2508      18.31.05      16743398

[205 rows x 2 columns]

In [15]:
Summary_view = Sport_view.merge(Comedy_view)
Summary_view

    trending_date  sport_views  comedy_views
0        17.01.12      9879808      10889970
1        17.02.12     10856461      13302391
2        17.03.12     10875249      14259944
3        17.04.12     11399173      16617431
4        17.05.12     11261410      19089597
..            ...          ...           ...
200      18.30.04     15114095      17802688
201      18.30.05      5153521      16427316
202      18.31.01      8431519      14840766
203      18.31.03     22546308      21528161
204      18.31.05      6343358      16743398

[205 rows x 3 columns]

In [16]:
condition_list = Summary_view['sport_views'] > Summary_view['comedy_views']
print(str(Summary_view[condition_list].shape[0])+" days")

49 days